@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #edf6f9;
}

/* BARRA DE NAVEGACION */
.nav-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 150px;
    
}

.nav-container .img-container img{
    height: 150px;
    padding-left: 70px;
    padding-right: 70px;
}

.nav-container .nav-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
}

.nav-container .nav-links a{
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: black;
    text-align: center;
    align-self: center;
}

.nav-container .nav-links a:hover{
    color: blueviolet;
}


/* 
INTRODUCCION */
.introduction-container{
    margin-left: 50px;
    margin-right: 50px;
}

.introduction-container .int-container{
    width: 100%;
    position: relative;
}

.int-container img{
    width: 100%;
    filter: brightness(75%);
    height: 600px;
    border-radius: 2px;
}

.int-container p{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
}

/* DEPORTES */

.h2-sports{
    text-align: center;
}

.sports-container img{
    width: 30%;
    height: 30%;
}

.sports-container .futbol-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.futbol-div img{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.futbol-div p{
    margin: 0 auto;
    width: 80%;
}

.sports-container .voley-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.voley-div img{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
.voley-div p{
    width: 80%;
    margin: 0 auto;
}

.sports-container .handball-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.handball-div img{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
.handball-div p{
    width: 80%;
    margin: 0 auto;
}

.sports-container .basket-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.basket-div img{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.basket-div p{
    width: 80%;
    margin: 0 auto;
}

